---
export interface Props {
	title: string;
	// song: string;
}

const { title } = Astro.props;
import Audio from '../components/audio.svelte';
---

<!DOCTYPE html>
<html lang="en" class="bg-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class=" text-white text-xl font-semibold flex flex-row gap-x-16 p-4">
			<a>Home</a>
			<a>Search</a>
			<a>Library</a>
			<Audio client:visible></Audio>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
</style>
